<p ng-if="$ctrl.news == null" class="loading">
    Loading...
</p>

<main ng-if="$ctrl.news != null">
    <section class="statistics">
        <div>
            <small>Total</small>
            <large>{{$ctrl.news.length}}</large>
        </div>
        <div>
            <small>Completed</small>
            <large>{{$ctrl.completedCount}}</large>
        </div>
        <div>
            <small>Not completed</small>
            <large>{{$ctrl.notCompletedCount}}</large>
        </div>
    </section>

    <section class="table">
        <table>
            <thead>
                <th class="id-column" ng-class="$ctrl.getSortClass('id')" ng-click="$ctrl.onSortClick('id')">
                    <input type="checkbox" ng-model="$ctrl.allSelected" ng-click="$event.stopPropagation()"> ID
                </th>
                <th ng-class="$ctrl.getSortClass('title')" ng-click="$ctrl.onSortClick('title')">
                    Title
                </th>
                <th ng-class="$ctrl.getSortClass('content')"  ng-click="$ctrl.onSortClick('content')">
                    Content
                </th>
                <th ng-class="$ctrl.getSortClass('status')"  ng-click="$ctrl.onSortClick('status')">
                    Status
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="newsItem in $ctrl.news">
                    <td><input type="checkbox" ng-model="newsItem.selected"> {{newsItem.id}}</td>
                    <td>{{newsItem.title}}</td>
                    <td>{{newsItem.content}}</td>
                    <td>{{newsItem.status}}</td>
                </tr>
            </tbody>
        </table>

        <footer>
            <button type="button" class="primary" ng-click="$ctrl.showDialog()">Add</button>
        </footer>
    </section>
</main>

<div ng-if="$ctrl.item" class="modal">
    <section class="modal-content">
        <h2>News</h2>
        <input type="text" placeholder="Add title" ng-model="$ctrl.item.title">
        <textarea ng-model="$ctrl.item.content"></textarea>
        <footer>
            <button type="button" class="primary"
                    ng-disabled="$ctrl.item.title === '' || $ctrl.item.content === ''"
                    ng-click="$ctrl.saveNews()">Save</button>
            <button type="button" ng-click="$ctrl.item = null">Cancel</button>
        </footer>
    </section>
</div>

<div ng-if="$ctrl.hasSelection()" class="delete-confirmation">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>
    <span class="message">
        Do you want to delete this news?
    </span>
    <div class="float-right">
        <button type="button" ng-click="$ctrl.clearSelection()">Cancel</button>
        <button type="button" class="primary" ng-click="$ctrl.deleteSelectedNews()">OK</button>
    </div>
</div>
